header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
header > h1 {
    font-size: 1.25rem;
}
header > p {
    border: 1px solid blue;
    font-size: 0.85rem;
    margin: 1rem 0;
    padding: 1rem;
    width: 200px;
}
header > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
header > nav div {
    border: 1px solid black;
    width: 100%;
}
header > nav div a {
    background-color: orange;
    color: black;
    display: flex;
    flex-direction: row;
    font-size: 0.75rem;
    justify-content: center;
    padding: 1rem 0;
    text-decoration: none;
    width: 100%;
}
header > nav div a:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
main {
    padding: 1rem;
}
footer {
    align-items: end;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
